.innerContainer {
  width: 100%;
  margin-left: auto;
  display: flex;

  .interface {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 7vh;
    margin-left: 5vh;
    width: 100%;

    h3 {
      color: #777;
      font-weight: 500;
      font-size: 2rem;
    }

    p {
      color: #777;
      letter-spacing: 1px;
      font-size: 1.4rem;
    }

    .alert {
      position: relative;
      margin-top: auto;
      margin-left: auto;
      bottom: 2rem;
      right: 2rem;
      animation: moveInFromRight 0.5s ease;
    }
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
