.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 23rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: 30rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.08);
  animation: moveInFromBottom 0.4s ease;
  .date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
      font-size: 2rem;
      color: #777;
      letter-spacing: 2px;
    }
  }

  @keyframes moveInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(20rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0rem);
    }
  }

  .descriptionWrapper {
    .description {
      width: 28rem;
      background-color: #fff;
    }
  }

  .buttonWrapper {
    margin-top: 2rem;
    .delete {
      background-color: #ff4136;
      width: 8rem;
      border-radius: 2rem;
      margin-right: 2rem;
    }

    .save {
      background-color: #00adb5;
      width: 8rem;
      border-radius: 2rem;
    }
  }
}
