.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  margin-top: 7rem;
  z-index: 3;

  img {
    height: 13vh;
  }

  .formContainer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0rem 7rem 3rem 7rem;
    animation: moveInFromBottom 0.2s linear;

    border-radius: 25px;
    box-shadow: 20px 20px 65px #d5d5d5, -20px -20px 65px #ffffff;
    .input {
      margin: 1rem;
      background-color: #fff;
      width: 18rem;
    }

    .error {
      margin-bottom: 1rem;
      animation: moveInFromRight 0.4s ease;
    }

    @keyframes moveInFromRight {
      0% {
        opacity: 0;
        transform: translateX(5rem);
      }

      100% {
        transform: translateX(0px);
      }
    }

    @keyframes moveInFromBottom {
      0% {
        opacity: 0;
        transform: translateY(5rem);
      }

      100% {
        transform: translateY(0px);
      }
    }

    p {
      font-size: 2.5rem;
      color: #2bced6;
      letter-spacing: 1.5px;
      font-weight: 500;
    }

    .checkBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      p {
        font-size: 0.9rem;
        color: #393e46;
      }
      a {
        color: #34a0ef;
        text-decoration: none;
        &:visited {
          color: #34a0ef;
          text-decoration: none;
        }
      }
    }

    .submitButton {
      background-color: #00adb5;
      width: 10rem;
      font-size: 1.1rem;
      border-radius: 25px;
      margin-top: 1rem;
    }
  }
}
